---
---

@import "moonwalk";
@import "list";
@import "syntax";

body {
  background-image: url('images/setx-sensors-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}